


.columns{
    background-color: whitesmoke;
    border-radius: 30px;
}


.card{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}


img{
    border-radius: 30px;
}

#count-users{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .5em;
    padding-bottom: 2em;
    text-align: center;
}

#users-statistics{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .5em;
    padding-bottom: 2em;
    text-align: center;
}


li{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .5em;
    padding-bottom: 2em;
}

#label-search{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .5em;
    padding-bottom: 2em;
    text-align: center;
}


#loadingMessage{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: tomato;
    border-radius: 3px;
}