#section-one{
    background-color: whitesmoke;
}

#section-two{
    background-color: whitesmoke;
}


.columns{
    background-color: gainsboro;
}


.card{
    background-color: rgb(255, 255, 255);
}